@use 'title';

:root {
    --bg-color: rgb(63 79 79);
}

body {
    background-color: var(--bg-color);
}

.main {
    &__title {
        color: title.$color-yellow;
        transition: all 0.4s;

        &:hover {
            color: green;
        }

        @media (max-width: 1000px) {
            color: red;
        }
    }
}

